*.o
*.mod
.*.swp
*.egg-info/
*.pyd
build/
test_result.png
c16pc371e.log
c16pc371e.spc
nlsl.exe
BL05CHSA.log
BL05CHSA.spc
examples/*.log
examples/*.spc
fortrancore-f2pywrappers2.f90
fortrancoremodule.c
nlsl/__init__.pyc
nlsl/*.so
__pycache__/
